/* Reset */
* {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: black;
    margin: 0;
    box-sizing: border-box;

}

/* Utils */
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Color palette */
.bg-white,
.download.top,
.login {
    background: #FFFFFF;
}


.download.botton,
.download.botton>*,
footer *,
header * {
    color: #FFFFFF
}

.bg-grey {
    background: #F6F6F6;
}

.download.botton,
.sign-in {
    background: #8EA1E1;
}

.bg-purple a,
.footer-left h3 {
    color: #7289DA;
}

.open-browser,
footer {
    background: #23272A;
}

.download.top>*,
.download.top,
.login {
    color: black;
}

/* Generics*/
header {
    background: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 30px;
}

header * {
    text-align: center;
}

section {
    height: 700px;
    padding: 70px
}

section p {
    margin-top: 30px
}

section>.container {
    height: 100%;
}

h1 {
    font-size: 65px;
    padding: 15px 0;
    margin-bottom: 20px
}

h2 {
    font-size: 55px;
    margin-top: 20px;
}

h3 {
    font-size: 30px;
}

ul * {
    list-style: none;
    text-decoration: none;
}

/*Common things */
.spotlight,
.nav-menu {
    justify-content: center;
}

.login,
.sign-in {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
}

/* Navigation bar */
#navigation-bar {
    height: 80px;
    display: flex;
    align-items: center;
}

#navigation-bar>* {
    padding: 10px 0;
    flex-basis: 20%;
}

.nav-menu {
    flex-grow: 1;
    gap: 50px;
    display: flex;
}

.login {
    text-align: right;
}

/* Spotlight */
.spotlight {
    height: 500px;
    padding: 50px;
    display: flex;
}

.spotlight .content {
    width: 50%;
    margin: 0 auto;
}

.spotlight p {
    padding: 15px 55px;
}

.spotlight button {
    padding: 15px 25px;
    border-radius: 30px;
    margin: 10px 15px;
    border: none;
}

.top .fa-download {
    margin-right: 10px;
}



/*Main section*/
.small-col {
    flex-basis: 30%;
}

.large-col {
    flex-basis: 70%;
}

.full-col {
    flex-basis: 100%;
}

.bg-grey.video-chat {
    height: 1000px;
    padding: 80px;
}

.bg-purple a {
    font-weight: 600;
}

.video-chat>* {
    text-align: center;
}

.stars {
    background: url(../img/stars.svg) center;
    background-size: contain;
    padding: 25px 0;
    margin-bottom: 30px;
}

.download.botton {
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
}

/* footer */
footer {
    padding: 50px;
}

.footer-top {
    padding-top: 70px;
    border-bottom: 2px solid #8EA1E1;
    height: 700px;
}

.footer-left {
    flex-basis: 30%;
    padding-right: 105px;
}

.footer-left>* {
    padding-bottom: 25px;
}

.footer-nav {
    display: flex;
    height: 100%;
}

.footer-nav .nav col {
    flex-basis: calc(100% / 4)
}

.footer-bottom {
    align-items: center;
    padding: 10px 0;
    margin-top: 40px;
    justify-content: space-between;
}

.nav-col li {
    padding: 10px;
}

.fa-brands {
    font-size: 25px;
    margin-right: 20px;
}

.flag {
    height: 25px;
}

.language,
figure {
    display: inline-block;
    vertical-align: top;
}

#choice-language {
    background: none;
    border: none;
}