/* CUSTOM PROPERTIES */
:root {
    --primary: #ffffff;
    --secondary: #cccccc;
}

/* RESET */
* {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: black;
    margin: 0;
    box-sizing: border-box;

}

/* UTILS */
.container {
    max-width: 1300px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-self-center {
    align-self: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

/* .img-fluid {
    width: 100%;
}
 */

/* SPACING */
.me-10 {
    margin-right: 10px;
}

.my-15 {
    margin: 15px 0;
}

.me-15 {
    margin-right: 15px;
}

/* RESET 'a' TAGS */
a {
    text-decoration: none;
    color: inherit;
}

/* COLOR PALETTE */

.bg-light-grey {
    background-color: var(--secondary);
}

.bg-primary {
    background-color: var(--primary);
}


.download.btn,
.download.btn>*,
footer *,
header * {
    color: #FFFFFF
}

.bg-grey {
    background: #F6F6F6;
}

.download.btn,
.sign-in {
    background: #8EA1E1;
}

.bg-purple a,
.footer-left h3 {
    color: #7289DA;
}

.open-browser,
footer {
    background: #23272A;
}

.download.top>*,
.download.top,
.login {
    color: black;
}

/* GENERICS */
header {
    background: url(../img/jumbo.png) fixed no-repeat 0 0 / contain;
}

main {
    position: relative;
}

.img-back::before,
.img-back::after {
    content: "";
    z-index: -1;
    min-height: 700px;
    width: 100%;
    filter: invert(0.5);
    position: absolute;
    background: url(../img/wave.svg);
    transform: scale3d(3.5, 0.8, 0.5);


}


section>.container {
    min-height: 700px;

    /*     padding: 70px
 */
}


/* section>.container {
    height: 100%;
}
 */
h1 {
    font-size: calc(6.5rem - 4vw)
}

h2 {
    font-size: calc(4.5rem - 2.5vw);
    /*     margin-top: 20px;
 */
}

h3 {
    font-size: 30px;
}

ul * {
    list-style: none;
    text-decoration: none;
}

/*Common things */
.spotlight,
.nav-menu {
    justify-content: center;
}

.btn.login,
.btn.sign-in {
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
}

/* Navigation bar */
#navigation-bar {
    height: 80px;
    display: flex;
    align-items: center;
}

#navigation-bar>* {
    padding: 10px 0;
    flex-basis: 20%;
}

.nav-menu {
    flex-grow: 1;
    gap: 50px;
    display: flex;
}

.login {
    text-align: right;
}

/* SPOTLIGHT */

.spotlight {
    min-height: calc(650px - 80px);

}

.spotlight .btn {
    padding: 15px 25px;
    border-radius: 30px;
}

.top .fa-download {
    /*     margin-right: 10px;
 */
}



/* MAIN SECTION */
.small-col {
    flex-basis: 30%;
}

.large-col {
    flex: 0 0 auto;
}

.wrapper.col {
    flex: 0 0 50%;
}

.full-col {
    flex: 0 0 100%;
}

.video-chat>.container {
    min-height: 1000px;
    /* padding: 80px; */
}

.bg-purple a {
    font-weight: 600;
}

.video-chat>* {
    text-align: center;
}

.stars {
    background: url(../img/stars.svg) center;
    background-size: contain;
    padding: 25px 0;
    margin-bottom: 30px;
}

.download.btn {
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
}

/* FOOTER */
footer {
    padding: 50px;
}

.footer-top {
    padding-top: 70px;
    border-bottom: 2px solid #8EA1E1;
    height: 700px;
}

.footer-left {
    flex-basis: 30%;
    padding-right: 105px;
}

.footer-left>* {
    padding-bottom: 25px;
}

.footer-nav {
    display: flex;
    height: 100%;
}

.footer-nav .nav col {
    flex-basis: calc(100% / 4)
}

.footer-bottom {
    align-items: center;
    padding: 10px 0;
    margin-top: 40px;
    justify-content: space-between;
}

.nav-col li {
    padding: 10px;
}

.fa-brands {
    font-size: 25px;
    margin-right: 20px;
}

.flag {
    height: 25px;
}

.language,
figure {
    display: inline-block;
    vertical-align: top;
}

#choice-language {
    background: none;
    border: none;
}


/* WAVE SVG */
.wave {
    position: relative;
    width: 100%;
    height: 150px;
    /* Altezza regolabile */
    overflow: hidden;
    z-index: 0;
    /* Posizionata sotto il contenuto */
}

.wave-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(0%) scaleX(1);
    filter: invert(0.8);
}

.wave-bottom {
    position: relative;
    width: 100%;
    height: 150px;
    /* Altezza regolabile */
    overflow: hidden;
    z-index: 0;
    transform: rotate(180deg);
}